<div class="wish-lists container">
  <h1>Wish List: {{wishList.name}}</h1>
  <div class="buttons">
    <a class="btn btn-primary" href="{{urls.edit}}">Edit Wish List</a>
    <a class="btn btn-link text-danger" href="{{urls.delete}}">Delete Wish List</a>
  </div>
  
  <div>
    <h3>Books in your list:</h3>
    <ul class="list-group">
    {{#each books}}
      <li class="list-group-item"><a href="/books/{{id}}">{{title}}</a></li>
    {{/each}}
  </ul>
  </div>
</div>