<div class="wish-lists container">
  <h1>Wish List: {{wishList.name}}</h1>
  <div class="buttons">
    <a class="btn btn-primary" href="{{urls.edit}}">Edit Wish List</a>
    <a class="btn btn-link text-danger" href="{{urls.delete}}">Delete Wish List</a>
  </div>
  
  <div>
    <h3>Books in your list:</h3>
    <div class="row">
      {{#each items}}
        <div class="col-sm-6">
          <div class="card">
            <img class="card-img-top" src="{{Book.coverUrl}}" alt="{{Book.title}}">
            <div class="card-body">
              <h5 class="card-title">{{Book.title}}</h5>
              <p class="card-text">{{Book.description}}</p>
              <a href="/books/{{Book.id}}" class="btn btn-primary">View Book</a>
              <a href="/wish_list_items/{{id}}?_method=DELETE" class="btn btn-link text-danger">Remove From Wish List</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>