
<div class="pt-3 container-fluid">

    {{#if msg}}
    <div class="alert alert-success" role="alert">
         {{msg}}
    </div>
    {{/if}}
  


    <div class=" d-flex justify-content-around">
        <h2>Shopping Cart</h2>
    </div>

    
    <div class="pt-3 d-flex flex-wrap justify-content-around ">

          <section class="shoppingCartAndSaveForLater">



              {{!-- SHOPPING CART --}}
                {{#if shopping_items}}
                {{#each shopping_items}}
                 <div class="card">
                     <div class="p-0 card-body d-flex flex-wrap justify-content-center ">

                          <div class="book-cover-wrapper d-flex  justify-content-sm-center ">
                                <img src="{{coverUrl}}" alt="book cover">   
                          </div>
                          <div class="pt-3 d-flex flex-grow-1 flex-column  flex-lg-row align-items-center justify-content-around">
                                    <div class="d-flex flex-grow-1 flex-column align-items-center justify-content-center">
                                        <h5 class="card-title"><a href="/books/{{bookId}}">{{title}}</a></h5>
                                        <p class="card-text">Price: {{price}}$</p>
                                    </div>
                                    <div class="d-flex align-items-center ">
                                        {{!-- Toggle --}}
                                        <span>x{{quantity}}</span>
                                        <button class="btn btn-link editBtn" data-request="edit" data-action="/edit/{{id}}">Edit</button>
                                        {{!-- Toggle --}}
                                        <form  id="edit-form-shoppingcart" method="POST" action="/ShoppingCartItems/edit/{{id}}" style="display:none">
                                            <input type="number" class="count " name="qty" value="{{quantity}}" min="1" > 
                                            <button type="submit">submit</button>      
                                        </form>
                                        <button class="btn btn-link editBtn"  style="display:none">Cancel</button>
                                        <button class="btn btn-danger shopping-cart-modal-btn"  data-request="delete" data-action="/ShoppingCartItems/delete/{{id}}">X</button>
                                        <button class="add-to-save-for-later btn btn-link " data-bookid="{{bookId}}" >Save for later</button> 
                                   </div>
                          </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <div class="d-flex flex-wrap justify-content-around">
                    <h3>No items found in your shopping cart</h3>
                </div>
                {{/if}}
              {{!-- END OF SHOPPING CART --}}

              {{!-- SAVED FOR LATER  --}}
     
                <div class="pt-3 d-flex justify-content-around">
                    <h2>Saved for later</h2>
                </div>
  
                <div class="d-flex flex-wrap justify-content-around">
                  
                        {{#if saved_for_later_items}}
                        {{#each saved_for_later_items}}
                          <div class="card">
                             <div class="p-0 card-body d-flex  flex-wrap justify-content-center ">
                               
                                 <div class="book-cover-wrapper d-flex  justify-content-center">
                                        <img src="{{coverUrl}}" alt="book cover">   
                                 </div>
                                  <div class="p-3 d-flex flex-grow-1 flex-wrap justify-content-around">
                                            <div class="d-flex flex-grow-1 flex-column align-items-center justify-content-center">
                                                <h5 class="card-title"><a href="/books/{{bookId}}">{{title}}</a></h5>
                                                <p class="card-text">Price: {{priceCents}}$</p>
                                            </div>
                                            <div class="d-flex  align-items-center ">
                                                <button type="submit" class="add-to-shopping-cart btn btn-link " data-bookid="{{id}}" >Add to Cart</button> 
                                                <button  class="btn btn-danger shopping-cart-modal-btn"  data-request="delete" data-action="/deleteSaveForLater/{{id}}">X</button>                             
                                           </div>
                                  </div>
                            </div>
                        </div>
                        {{/each}}
                        {{else}}
                            <div class="d-flex flex-wrap justify-content-around">
                                <h3>No items Saved for Later</h3>
                            </div>
                        {{/if}}
                </div>
            {{!-- END OF SAVE FOR LATER --}}


          </section>
            

        

        {{!-- CHECKOUT BOX --}}
        <div class="checkout-total-shoppingcart ">
            <div class="container d-flex flex-column align-items-center">
                <div class="row">
                    <h3>Checkout Total:</h3>
                </div>
                {{#if shopping_items}}
                <div class="d-flex flex-column checkout-list">
                   {{#each shopping_items}}
                      <p>--{{title}} x{{quantity}}</p>
                   {{/each}}
                </div>
                {{/if}}
                <div class="price row">
                    <span>
                        <b>Total Price: {{totalCheckoutPrice}}</b>
                    </span>
                </div>
                <div class="row">
                    <button class="btn">Checkout</button>
                </div>
            </div>
        </div>
        {{!-- END OF CHECKOUT BOX --}}



    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="shopping_cart_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form  class="modal-form-request" method="post" action="">
             <button type="submit" class="btn btn-primary">YES!</button>
        </form>
      </div>
    </div>
  </div>
</div>


<style>
    .btn-danger{
        background:#CB6363 !important;
    }
    .card{
        min-width: 100% !important;
    }
    .book-cover-wrapper>*{
        max-height: 250px !important;
        
    }
    .checkout-list{
       box-shadow: 5px;
       padding:0.5em;
    }
    .checkout-total-shoppingcart{
        padding: 1em;
        border: solid #CB6363 2px;
        border-radius: 2em;
        min-width: 30vw;
    }
    .checkout-total-shoppingcart>div>*{
        margin-bottom:0.5em;
    }
    .shoppingCartAndSaveForLater{
        width: 60vw;
    }
</style>

<script src="/js/shopingcart.js"></script>